.login{
  height : 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('/background_banner.jpg');
  padding : 20px 8%;
  background-size : cover;
  background-position : center;
  position : relative;  
}

.login-logo{
  width : 150px;
}

.login-container{
  width : 600px;
  background-color : rgba(0,0,0,0.75);
  padding : 60px 50px;
  margin : auto;
  margin-top : 100px;
  border-radius : 4px;
  color : white;
}

.login-container h1{
  margin-bottom : 30px;
  font-size : 32px;
  font-weight : 600;
}

.login-container label{
  font-size : 16px;
  font-weight : 200;
}

.login-container input{
  width : 100%;
  padding : 10px 15px;
  margin : 15px 0 30px 0;
  height : 50px;
  background-color : #333;
  border : none;
  outline : none;
  color : white;
  border-radius : 4px;
}

.login-container input::placeholder{
  color : #888;
  font-size : 16px;
  font-weight : 300;
}

.login-btn{
  width : 100%;
  padding : 15px 0;
  background-color : #db4343;
  border : none;
  outline : none;
  color : white;
  font-size : 18px;
  border-radius : 4px;
  cursor : pointer;
  font-weight : 400;
  margin-top : 20px;
}

.form-help{
  display: flex;
  justify-content : space-between;
  font-size : 14px;
  color : #888;
  align-items : center;
}

.remember{
  display : flex;
  align-items : center;
  gap : 5px;
}

.remember input{
  width : 15px;
  height : 15px;
  margin : 0;
}

.form-switch{
  margin-top : 30px;
  color : #888;
  font-size : 16px;
}

.form-switch span{
  color : white;
  cursor : pointer;
  margin-left : 6px;
  font-weight: 500;
} 

.login-spinner{
  width : 100%;
  height : 100vh;
  display:flex;
  align-items : center;
  justify-content : center;
  background-color : black;
}

.login-spinner img{
  width : 60px;
}