.title-cards{
    margin-top : 50px;
    margin-bottom : 30px;
    padding-left : 20px;
}

.title-cards h2{
    margin-bottom : 20px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width : 100%;
    padding-bottom : 10px;
}

.card-list::-webkit-scrollbar{
    display : none;
}

.card-list img{
    width : 240px;
    border-radius : 4px;
    cursor : pointer;
    transition : transform 0.3s ease;
}

.card-list .card{
  position: relative;
}

.card-list .card p{
  position : absolute;
  bottom : 10px;
  right : 10px;
  background-color : rgba(0,0,0,0.6);
}