.footer {
  background-color: #141414;
  color: #757575;
  width: 100%;
  padding: 40px 60px;
  font-size: 14px;
  margin-top: 40px 40px;
  border-top: 1px solid #333;
}

.footer-icons{
  display : flex;
  gap : 20px;
  margin : 40px 0;
  /* margin-bottom : 20px; */
}

.footer-icons img{
  width : 30px;
  cursor : pointer;
}

.footer-links ul{
  list-style : none;
  display : grid;
  grid-template-columns: auto auto auto auto;
  margin-bottom : 30px;
  gap : 20px;
}

.footer-links ul li{
  margin-bottom : 2px;
  cursor : pointer;
}

.copyright-text{
  font-size : 12px;
  color: #cfcaca;
}

