.player{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.player img{
  width:50px;
  height:50px;
  position:absolute;
  top:20px;
  left:20px;
  cursor:pointer;
}

.player iframe{
  margin-top:10px;
  border-radius:10px;
} 

.player-info{
  display:flex;
  color:white;
  margin-top:20px;
  text-align:center;
  justify-content:space-between;
  width:90%;
}